* {
  width: 100vw;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 50vw;
  padding: 10px;
  margin: 20px 0;
}

img {
  max-width: 50vw;
}
